@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap');
.superior {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  background-color: #f8f8f8;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  background-color: black;
  height: 50px;
}

.logo2 {
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-right: 5px;
  margin-left: 5px;
}

.logo2 .HOME{
  color: #0340d0;
}

.logo2 .MUIE{
  color: #ff08c1;
}
.logo2 .ENZO{
  background: linear-gradient(45deg, #ff08c1, #0340d0);
  -webkit-background-clip: text;
  color: transparent;
}


.cha {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cha nav {
  display: flex;
  gap: 20px;
  margin-top: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
  position: relative;
  font-size: 18px;
}

a::after {
  content: " ";
  width: 0px;
  height: 4px;
  position: absolute;
  top: 25px;
  left: 0;
  border-radius: 25px;
  transition: width 0.5s;
  box-shadow: inset 1px 1px 2px #f0f, inset 1px -1px 3px #0340d0,
      inset -1px 1px 2px #efff0c, inset -1px -1px 2px #ff0000;
}

a:hover::after {
  width: 50%;
}

.car {
  color: #ffffff;
  cursor: pointer;
  font-size: 24px;
  margin-left: auto;
  margin-right: 10px;
}

.car:hover {
  transform: scale(1.2);
}

/*loja*/
.oferta {
  color: #f8f8f8;
  margin-top: 50px;
}

.oferta h1{
  font-size: 35px;

}

.shop-content {
  margin-top: 10%;
  margin-bottom: 50px;
  margin-left: 5%;
  margin-right: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2.0rem;
}

@media screen and (min-width: 768px) {
  .shop-content {
      grid-template-columns: repeat(2, minmax(220px, 1fr));
  }
}

@media screen and (min-width: 1200px) {
  .shop-content {
      grid-template-columns: repeat(4, minmax(220px, 1fr));
  }
}

.cart {
  width: 100%;
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: -2px 0 4px hsl(0, 4%, 15%, 0.1);
  z-index: 100;
}

.title-sel {
  text-align: center;
  margin-top: 5px;
  position: relative;
  z-index: 1;
}

.caixa-prod {
  position: relative;
  margin-bottom: 10px;
  z-index: 1;
}

.caixa-prod:hover {
  padding: 10px;
  box-shadow: inset 1px 1px 2px #0340d0, inset 1px -1px 3px #f0f,
  inset -1px 1px 2px #efff0c, inset -1px -1px 2px #ff0000;
  transition: 0.4s;
  border-radius: 20px;
}

.product-img {
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 8px;
  border-radius: 20px;
}

.product-img:hover {
  border-radius: 20px;
}

.product-title {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.price {
  font-weight: 500;
}

.add-cart {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgb(255, 253, 253);
  color: rgb(0, 0, 0);
  padding: 10px;
  cursor: pointer;
  border-radius: 0 0 10px 0;
}

.add-cart:hover {
  background: hsl(249, 32%, 17%);
}

.oferta .new-po {
  width: 80%;
  margin-left: 10%;
  border-radius: 25px;
}

.new .HOME {
  color: #0340d0;
}

.new .MUIE{
  color: #ff08c1;
}

.new .ENZO{
  background: linear-gradient(45deg, #ff08c1, #0340d0);
  -webkit-background-clip: text;
  color: transparent;
}

.oferta .nop{
border: 1.5px solid black;
}

.fund {
  background: url('../imagens/CJ/fundo.png') center/cover no-repeat fixed;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.fund::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.11); 
  z-index: -1;
}