@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

body {
  background-color: #b3b0b0;
}

.container {
  max-width: 1080px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.logo2 {
  max-height: 100px; /* Ajuste a altura conforme necessário */
  margin: 10px; /* Adicione margens conforme necessário */
  position: absolute;
  top: 5px;
  left: 10px;
}


.superior {
  background-color: black;
  width: 100%;
  height: calc(65% - 50px); 
  z-index: 100;
  position: relative;
  overflow: hidden; /* Adicione esta linha para esconder qualquer conteúdo que ultrapasse a altura definida */
}
.buscar-box {
  width: 500px; 
  height: 50px;
  background-color: #fafafa;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 25px;
  margin-bottom: 5px;
  margin-top: 25px; /* Ajustei o espaçamento superior para 15px */
  margin-left: auto;
  margin-right: auto; /* Adicionei margens automáticas para centralizar horizontalmente */
}
.buscar-box .lupa-buscar,
.buscar-box .fechar {
  min-width: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.buscar-box .fechar {
  font-size: 15px;
  margin-left: 15px;
}

.buscar-box .lupa-buscar i,
.buscar-box .fechar i {
  font-size: 20px;
}

.buscar-box .input-barra {
  position: absolute;
  left: 80px;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.buscar-box .input-barra input {
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
  font-size: 20px;
  padding: 0 15px;
  box-sizing: border-box;
}

.cha {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  margin: auto;
  margin-top: 15px; /* Ajustei o espaçamento superior para 15px */
  background-color: #000000;
  height: 40px;
}

.cha nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  margin-right: 50px;
}

.cha nav i {
  margin-right: 5px;
}

.cha nav a::after {
  content: " ";
  width: 0px;
  height: 4px;
  position: absolute;
  top: 25px;
  left: 0;
  border-radius: 25px;
  transition: width 0.5s;
  box-shadow: inset 1px 1px 2px #f0f, inset 1px -1px 3px #0340d0,
    inset -1px 1px 2px #efff0c, inset -1px -1px 2px #ff0000;
}

.cha nav a:hover::after {
  width: 50%;
}

/* Redes Sociais */

.social {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  gap: 20px;
  padding: 20px;
  z-index: 1000;
}

.social .list {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.list li {
  width: 50px;
  height: 50px;
  background-color: #faf4f4;
  box-shadow: 0 8px 25px #444444;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: .5s;
}

.list li:hover {
  width: 100px;
}

.list li span {
  position: absolute;
}

.list li .icon {
  color: #000000;
  font-size: 1.5em;
  transition: .2s;
}

.list li .text {
  color: #ffff;
  font-size: 14px;
  transform: scale(0);
  transition: .2s;
  transition-delay: 0s;
}

.list li:hover .text {
  transform: scale(1);
}

.list li:hover .icon {
  transform: scale(0);
}

.list li::before {
  content: '';
  position: absolute;
  background-image: linear-gradient(45deg, var(--cor1), var(--cor2));
  inset: 0;
  opacity: 0;
  border-radius: 60px;
}

.list li:hover::before {
  opacity: 1;
}

/*OFERTA DIARIA*/
.oferta {
  margin-top: 50px;
}

.shop-content {
  align-items: center;
  margin-top: 10%;
  margin-bottom: 50px;
  margin-left: 100px; /* Adiciona margem à esquerda */
  margin-right: 100px; /* Adiciona margem à direita */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 2.0rem;
}

@media screen and (min-width: 768px) {
  .shop-content {
    grid-template-columns: repeat(4, minmax(220px, auto));
  }
   
}

.card {
  position: fixed;
  top: 0;
  right: 0;
  width: 360px;
  min-height: 100vh;
  padding: 20px;
  background: #efff0c;
  box-shadow: -2px 0 4px hsl(0, 4%, 15%, 0.1);
  z-index: 100;
}



.title-sel {
  text-align: center;
  margin-top: 5px; /* Ajuste conforme necessário para posicionar no meio */;
  position: relative;
  z-index: 1;
}

.caixa-prod {
  position: relative;
  margin-bottom: 10px; /* Adiciona espaço abaixo da div caixa-prod */
    z-index: 1; /* Adiciona um índice z para garantir que as caixas de produtos fiquem acima do card */
}


.caixa-prod:hover {
  padding: 10px;
  box-shadow: inset 1px 1px 2px #f0f, inset 1px -1px 3px #0340d0,
    inset -1px 1px 2px #efff0c, inset -1px -1px 2px #ff0000;
  transition: 0.4s;
  border-radius: 20px;
}

.product-img {
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 8px;
  border-radius:20px ;
}

.product-img:hover{border-radius: 20px;
}

.product-title {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.price{
  font-weight: 500;
}
.add-cart {
  position: absolute;
  bottom: 0;
  right: 0;
  background: black;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 0 0 10px 0; 
}

.add-cart:hover{
  background: hsl(249, 32%, 17%);
}



